@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    background-color: #777;
}



h1 {
    color: white;

}

.screen {
    cursor: pointer;
    width: 75%;
    background-color: rgb(177, 177, 177) !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.controls {
    background: rgba(136, 3, 245, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.controls .btn {
    border: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 10px;
}

.controls .btn:hover {
    background: rgba(255, 255, 255, 0.7)
    }

.btn:focus {
    outline: none;
}

.controls .btn:active {
    background: rgb(255, 255, 255);
    outline: none;
    }

@media(max-width: 800px) {
    .screen, 
    .controls {
        width: 90%;
    }
}

.controls .fa-play {
    color: rgba(40, 167, 70, 0.5);
}

.controls .fa-stop {
    color: rgba(255, 0, 0, 0.5);
}

.controls .fa-pause {
    color: rgba(0, 0, 0, 0.5);
}

.controls .timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}